<head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Andy's Blog</title>
    <meta content="Andy Say Hi to World" name="description">
    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/images/default/favicon.ico">
    <!-- Fonts -->
    <link href="/assets/css/googlecss.css" rel="stylesheet">
    <link href="/assets/css/jPages.css" rel="stylesheet">
    <!-- Ionicons -->
<!--    <link href="https://unpkg.com/ionicons@4.5.0/dist/css/ionicons.min.css" rel="stylesheet">-->
    <link href="/assets/css/ionicons.min.css" rel="stylesheet">
    <link data-cms-original-href="/assets/css/main.css" href="/assets/css/main.css" rel="stylesheet">
</head>
