---
layout: default
---
<div class="post-top">
    <div class="container">
        <div class="post__info">
            <h1 class="post__title">
                <span>{{page.title}}</span>
            </h1>
            <div class="post__meta">
                <div class="post__author-image" style="text-align: center">
                    <img alt="Andy Sun" data-cms-original-src="/assets/images/default/andy_icon.jpeg" loading="lazy" src="/assets/images/default/andy_icon.jpeg">
                </div>
                <div class="post__meta-bottom">
                    <div class="post__author">
                        Andy Sun  <time style="margin-left: 10px" class="post__date" datetime="">{{page.createtime}}</time>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- begin post -->
<div class="container animate">
    <article class="post">
        <div class="post__content" data-cms-content-wrapper="/site/_layouts/post.html">
            {{content}}
            {% assign category = page.categories[0]|downcase %}
            {% if page.previous.url or page.next.url%}
                <div class="post__navigation animate" style="margin-top: 10px">
                    {% if page.previous.url %}
                        {% if page.previous.categories contains category %}
                            <a class="post__prev" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}">
                                <div class="prev__image">
                                    <img alt="" data-cms-original-src="/assets/images/default/post-1.jpg" loading="lazy" src="/assets/images/default/post-6.jpg">
                                </div>
                                <div class="prev__box">
                                    <span class="post__nav post__nav__prev">Prev post</span>
                                    <h2 class="post__nav__title">{{page.previous.title}}</h2>
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if page.next.url %}
                        {% if page.next.categories contains category %}
                            <a class="post__next" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">
                                <div class="next__box">
                                    <span class="post__nav post__nav__next">Next post</span>
                                    <h2 class="post__nav__title">{{page.next.title}}</h2>
                                </div>
                                <div class="next__image">
                                    <img alt="" data-cms-original-src="/assets/images/default/post-2.jpg" loading="lazy" src="/assets/images/default/post-4.jpg">
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://https-crazyandy-github-io.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <script id="dsq-count-scr" src="//https-crazyandy-github-io.disqus.com/count.js" async></script>
        </div>
    </article>
</div>
